<div class="row">
  <div class="col-md-10">

    <div class="content-box-large">
      <div class="panel-body height-10">
        <div id="mynetwork"></div>

    </div>
  </div>

  </div>
  <div class="col-md-2 box-menu-node-edge">
    <div class="sidebar content-box" style="display: block;">
        <ul class="nav">
            <!-- Main menu -->
            <li><a ng-click="vsCtrl.addNode()"><i class="glyphicon glyphicon-plus"></i> Add New Node</a></li>
            <li><a ng-click="vsCtrl.addEdge()"><i class="glyphicon glyphicon-plus"></i> Add New Edge</a></li>
        </ul>
     </div>
     <div ng-if="vsCtrl.showInfoNode">
       <div class="content-box" style="display: block;">
         <div class="form-group">
           <label class="control-label" for="text-field">Node type:</label>
           <select class="form-control" ng-change="vsCtrl.updateChart()" ng-model="vsCtrl.selectNode.image" ng-options="node.type as node.label for node in vsCtrl.typeNode">
           </select>
         </div>
         <div class="divider"></div>
         <div class="form-group">
           <label for="name">Name:</label>
           <input type="text" ng-change="vsCtrl.updateChart()"  class="form-control" ng-model="vsCtrl.selectNode.name" placeholder="Insert name..." />
         </div>
         <div class="divider"></div>
         <div class="form-group">
           <label for="label">Label:</label>
           <input type="text" ng-change="vsCtrl.updateChart()"  class="form-control" ng-model="vsCtrl.selectNode.label" placeholder="Insert label..." />
         </div>
         <div class="divider"></div>
          <button class="btn btn-default btn-sm" ng-click="vsCtrl.deleteNode()" style="margin-top: 5%; margin-left: 66%;">Delete node</button>
       </div>
     </div>
  </div>
</div>
