<div class="row">
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-6">
                <div class="content-box-header">
                    <div class="panel-title">A dynamic, browser based visualization library</div>

                    <div class="panel-options">
                        <a href="http://visjs.org" target="_blank" data-rel="collapse"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="content-box-large box-with-header">
                    <div class="panel-body div-visjs">
                      <a href="#/visjs">
                        <img alt="visjs" src="img/visjs.png" />
                      </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
